<% if !@friends.empty? %>
	<div class="row">
		<div class="col-9">
			<table class="table table-bordered table-hover table-dark">
			  <thead>
			    <tr>
			      <th scope="col">Name</th>
			      <th scope="col">Email</th>
			      <th scope="col">Actions</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @friends.each do |friend| %>
			    <tr>
			      <th scope="row"><%= friend.full_name %></th>
			      <td scope="row"><%= friend.email %></td>
			      <td id="align-button" >
			      	<%= link_to 'View Profile', user_path(friend), class: "btn btn-primary" %>
			      	<%= link_to 'Stop Following', friendship_path(friend), method: :delete, data: {confirm: 'Are you sure?' }, class: "btn btn-warning" %>
			      </td>
			    </tr>
			    <% end %>
			  </tbody>
			</table>
		</div>
	</div>
<% else %>
	<%= 'You currently do not have any friends.' %>
<% end %>