<div class="results-block">
	<%= render 'layouts/messages' %>
</div>


<% if @friends %>
	
		<div class="card card-header results-block">
			<table class="col-md-12">
				<tbody>
					<% @friends.each do |friend| %>
						<tr>
							<td>
								<b>Name:</b> <%= friend.full_name %>
							</td>
							<td>
								<b>Email:</b> <%= friend.email %>
							</td>
							<td>
								<%= link_to 'View Profile', user_path(friend), class: "btn btn-primary" %> 
								<% if current_user.not_friends_with?(friend.id) %>
									<%= link_to 'Add to Friends', friendships_path(friend: friend), class: "mr-2 btn btn-success", method: :post %>
								<% else %>
									<b class="badge badge-secondary">Friend<b>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>

<% end %>